<% layout('../layouts/boilerplate') %>
<h1 class="display-03">Campgronds</h1>
<% for(var camp of campgrounds) { %>
<div id="item" class="m-2 p-1">
  <div class="row m-2">
    <div class="col-1"><%= camp.rank %></div>
    <div class="col-5"><%= camp.title %></div>
    <div class="col-3 mx-auto">
      <a href="/campgrounds/<%= camp.id %>" class="btn btn-secondary"
        >Details</a
      >
    </div>
    <form
      class="col-3 mx-auto"
      method="POST"
      action="/campground/<%= camp.id %>?_method=DELETE"
    >
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
<% } %>
