<% layout('../layouts/boilerplate') %>
<h2 class="display-2 d-grid col-5 mx-auto" style="text-align: center">
  Add Camp
</h2>
<form action="/campgrounds" method="POST" novalidate class="validated-form">
  <div class="row">
    <div class="form-group col-6">
      <label for="title">Campground Name</label>
      <input
        type="text"
        id="title"
        class="form-control"
        placeholder="title"
        name="title"
        required
      />
      <div class="valid-feedback">&#10004; Looks Good</div>
    </div>
    <div class="form-group col-6">
      <label for="price">Price</label>
      <div class="input-group">
        <span class="input-group-text" id="price-label">$</span>
        <input
          type="text"
          id="price"
          placeholder="0.00"
          class="form-control"
          required
          name="price"
        />
        <div class="valid-feedback">&#10004; Looks Good</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="city">Campground City</label>
      <input
        type="text"
        id="city"
        class="form-control"
        required
        placeholder="city"
        name="city"
      />
      <div class="valid-feedback">&#10004; Looks Good</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="description">Campground Description</label>
      <input
        type="text"
        id="description"
        required
        class="form-control"
        placeholder="description"
        name="description"
      />
      <div class="valid-feedback">&#10004; Looks Good</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="img">Image URL</label>
      <input
        type="text"
        id="img"
        class="form-control"
        required
        placeholder="url"
        name="img"
      />
      <div class="valid-feedback">&#10004; Looks Good</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-6">
      <label for="latitude">Campground Latitude</label>
      <input
        type="text"
        id="latitude"
        class="form-control"
        required
        placeholder="latitude"
        name="latitude"
      />
      <div class="valid-feedback">&#10004; Looks Good</div>
    </div>
    <div class="form-group col-6">
      <label for="longitude">Campground Longitude</label>
      <input
        type="text"
        id="longitude"
        class="form-control"
        required
        placeholder="longitude"
        name="longitude"
      />
      <div class="valid-feedback">&#10004; Looks Good</div>
    </div>
  </div>
  <div class="d-grid col-4 mx-auto mt-3">
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>
<div class="d-grid col-6 mx-auto mt-3">
  <a href="/campgrounds" class="btn btn-danger">Back To List</a>
</div>
