body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("na.jpeg")
  background-position: center;
  background-size: cover;
}

#heading {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  height: 90vh;
}

.nav-link {
  border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
  color: white;
  border-bottom-color: white;
}

.nav-link:nth-child(1),
:active {
  color: white;
  border-bottom-color: white;
}

#camps_btn {
  font-weight: 600;
  border-radius: 10%;
}
