<a% layout('../layouts/boilerplate') %>
<div class="row my-5">
  <div class="col-6">
    <div class="card">
      <img src="<%= camp.img %>" class="card-img-top" alt="..." />
    </div>
  </div>
  <div class="col-6">
    <label for="review" class="card"></label>
  </div>
</div>
