<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark">
    <header>
      <div class="container">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">YelpCamp</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/campgrounds/home">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <% if (!currentUser) { %>
                <a class="nav-link" href="/signin">Sign In</a>
                <a class="nav-link" href="/signup">Sign Up</a>
                <% } else { %>
                <a class="nav-link" href="/signout">Sign Out</a>
                <% } %>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <h1 class="display-5 text-white text-center">YelpCamp</h1>
      <h4 class="display-6">Welcome to YelpCamp</h4>
    </main>
  </body>
</html>
