<% layout('../layouts/boilerplate') %>
<div style="display: flex; align-items: center; height: 100%; width: 100%">
  <a
    href="/signup"
    class="btn d-grid col-3 mx-auto text-white btn-primary fs-4 m-3"
  >
    Sign Up
  </a>
  <a
    href="/signin"
    class="btn d-grid col-3 mx-auto text-white btn-primary fs-4 m-3"
  >
    Sign In
  </a>
</div>
